

  #items{
    background-color: #55555A;
    color: #FFFF;
    margin-bottom: 25px;
    cursor: grab;
  }
  .item{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 15px 0px 0px;
  }
  .item>a{
    text-decoration: none;
  }
  .imgName{
    position: relative;
    display: flex;
    height: 3rem;
  }
  .itemNameAndPrice{
    margin: auto 0px auto 15px; 
  }

