*{
  margin: 0px;
  padding: 0px;
  scroll-behavior: smooth;
}
html{
user-select: none;
-moz-user-select: none;
-webkit-user-select: none;
-ms-user-select: none;
}
body{
  width: 100%;
  max-width: 100%;
  background-color: #000000;
  overflow: hidden;
}
.container{
width: 700px;
max-width: 700px;
margin: 0px auto;
}
.center{
  color: #EF5EA8;
  font-weight: bold;
  text-align: center;
  font-size: 2rem;
  padding: 3vh 0px 3vh 0vh;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
